// Typography
$font-family-sans-seri: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

/* variables */
$primary-color: #0098d4;
$primary-font-color: #3a3a3a;
$primary-border-blocks-color: #f3f3f3;

/* breakpoints */
$sm-breakpoint: 576px;
$md-breakpoint: 768px;
$lg-breakpoint: 992px;
$xl-breakpoint: 1200px;
